main {
  display: flex;
}

.sidebar {
  pointer-events: none;
}

.sidebar.opened {
  pointer-events: auto;
}

#open-btn {
  pointer-events: auto;
}

.main-content {
  pointer-events: auto;
}

/* --- tub サイドバー本体 --- */
.tub {
  width: 200px;
  height: 900px;
  background-color: #4B87FF;

  border-top: solid;
  border-width: 2px;
  border-color: white;

  box-sizing: content-box;

  position: relative;
  z-index: 1;
}

.tub-items {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 200px;
  height: 75px;

  color: white !important;
  background-color: #4B87FF;
  text-decoration: none !important;
}

.tub ul {
  list-style: none;
  padding-left: 0;
  margin-top: 75px;
}

.tub ul li:hover .tub-items,
.tub ul li:active .tub-items {
  background-color: white;
  color: #4B87FF !important;
}

/* --- 開閉ボタン --- */
#open-btn {
  width: 48px;
  height: 48px;
  background-color: #4B87FF;

  border-top: solid;
  border-width: 2px;
  border-color: white;

  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  position: relative;
  z-index: 2;
}

.tub.closing {
  animation: slide-close 0.75s forwards;
}

.tub.opening {
  display: block;
  animation: slide-open 0.75s forwards;
  position: relative;
  z-index: 2;
}

.tub.closed {
  display: none;
  pointer-events: none;
}

.tub.opened {
  display: block;
  transform: translateX(0px);
  position: relative;
  z-index: 2;
}

#open-btn.closed,
#open-btn.opened {
  transform: translateX(0px);
}

#open-btn.opening {
  animation: slide-open 0.75s forwards;
}

#open-btn.closing {
  animation: slide-close 0.75s forwards;
}

/* --- アニメーション --- */
@keyframes slide-open {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slide-close {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-200px);
  }
}

/* --- 背景ブロック用オーバーレイ --- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.user-card{

  padding-left: 10px;
  
  font-size: 18px;

  border-top: solid white;
  border-bottom: solid white;
  border-width: 2px;
  border-color: white;

  margin-top: 100px;

  height: 125px;
  width: 100%;
}

.user-informations{
  color: white;
  margin-top: 10px;
}

.spinner{
  width:  20px;
  height: 20px;
  margin-left: 10px;
}

.logout-btn {
  margin-top: 75px;
}

.user-informations{
  color: white;
  margin-top:  30px;
  margin-left: 7.5px;
}

.user-informations p{
  font-size: 18px;
}