.school-settings-container{
    width: 100%;
    max-width: 720px;
    margin: 0;
    cursor: default;
}
.add-course-button{
    min-width: 100px;
    height: 35px;
}
.edit-icon{
    cursor: pointer;
}
.edit-icon:hover, .edit-icon:active{
    fill: #000;
}
.edit-button-margin{
    margin-right: 270px;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .school-settings-container{
    max-width: 100%;
    padding: 0 12px;
  }
}

@media (max-width: 576px) {
  .add-course-button{
    width: 100%;
    margin-top: 8px;
  }
  .edit-button-margin{
    margin-right: 0;
  }
}