.teacher-id{
    font-size: 16px;
}
.teacher-table thead{
    font-size: 20px;
}
.table-headers{
    width: 75px;
}
.action-button{
    margin-left:  5px;
    margin-right: 5px;
}
.disable-controll{
    margin: auto;
    text-align: center;
    width: 100%;
    height: 60px;
}
.teacher-manager-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.teacher-button-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}