.login-title{
    text-align: center;
    margin-bottom: 30px;
}

.login{
    margin: auto;
    margin-top: 100px;

    padding: 30px;

    max-width: 650px;
    min-width: 350px;

    border-radius: 30px;
    box-shadow: 1px 1px 15px 5px rgb(175, 175, 175);
}

.login-btn{
    display: block;

    margin: auto;
    margin-top: 50px;

    width: 150px;
    height: 50px;

    font-size: 20px;
}

@media screen and (max-width: 768px){
    .login{
        width: 350px;
    }
}